@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  ul {
    @apply pr-4;
  }
  li {
    list-style-type: disc;
  }

  a {
    @apply text-indigo-500;
  }
}
